body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: #212529;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../media/tania-yoga.jpg);
    aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 650px 0;
}

header h1 {
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.5;
  margin: 30px 0;
  text-align: left;
  color: #f5f0e9;
}

header h2 {
  font-style: "Fredoka", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #f5f0e9;
}

.navbar {
  margin: 0 50px;
}

.navbar a {
  color: #f5f0e9;
  font-family: 'Roboto', sans-serif;
}

.navbar a.active{
  color: #f5f0e9 !important;
  font-weight: 600;
}

.nav-link {
  text-align: center;
}

.container {
  width: 600px;
  height: 100%;
  margin: 0 50px;
  padding: 50px 0;
}

.grid {
  display: grid;
  grid-gap: 0;
  padding: 40px 0;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.btn-booking a {
  background-color: #3B3622;
  color: #f5f0e9;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
}

.btn-booking a:hover {
  background-color: #f5f0e9;
  color: #3B3622;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-contact a {
  color: #3B3622;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 600;
}
.btn-contact a:hover {
  color: #f5f0e9;
  background-color: #3B3622;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

.arrow-circle {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border: 1px solid #3B3622;
      border-radius: 50%;
      cursor: pointer;
      margin-left: 10px;
      font-family: 'Inter', sans-serif;
    }

    .arrow-circle::before {
      content: '›'; /* Unicode character similar to the image arrow */
      font-size: 15px;
      color: #3B3622;
      line-height: 1;
    }

    .arrow-circle:hover::before {
      color: #f5f0e9;
    }

    .arrow-circle:hover {
      border-color: #f5f0e9;
    }
