h1 {
    text-align: center;
    color: darkolivegreen;
}

h3 {
    text-align: center;
    color: darkolivegreen;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}